extends layout

block content
    +adminnav
    .container-fluid
        .row
            +cardPrimary({title: 'This is '+title, no: 12})
        .row
            +cardPrimary({ no:4, header: "Stuff", body:"<h2>Data page</h2><p>Data page</p>" })
            +cardPrimary({ title:"Page Title", paragraph:"Here input the content", header: "Students", no:4 })
            +cardPrimary({ title: "Page Title", paragraph:"Here input the content", header: "Teachers", no:4 })

        .row
            +cardPrimary({ no:4, title: "Page Title", paragraph: "Here input the content", header:"Transport"})
            +cardPrimary({ title:"Page Title", paragraph:"Here input the content", header: "Canteen", no:4 })
            +cardPrimary({ header: "Library", no:4, body:"<h1>Test App</h1>" })