extends layout

block content
    +adminnav
    .container-fluid
        .row
            +cardPrimary({title: 'This is '+title, no: 12})
        .row
            +cardPrimary({ no:4, header: "Stuff", body:"<h2>Data page</h2><p>Data page</p>" })
            +cardPrimary({ title:"Page Title", paragraph:"Here input the content", header: "Sample Page 2", no:4 })
            +cardPrimary({ title: "Page Title", paragraph:"Here input the content", header: "Sample Page 3", no:4 })

        .row
            +cardPrimary({ no:4, title: "Page Title", paragraph: "Here input the content", header:"Sample Page 1"})
            +cardPrimary({ title:"Page Title", paragraph:"Here input the content", header: "Sample Page 2", no:4 })
            +cardPrimary({ title: "Page Title", paragraph:"Here input the content", header: "Sample Page 3", no:4 })