doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/style.css")
    block styles
  body
    include libs/util
    block content

    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    block scripts